@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Pacifico&display=swap');

:root {
    --amarillo: #F5C800;
    --amarillo-s: #B89600;
    --amarillo-light: #FFFBE6;
    --verde: #7BC441;
    --verde-light: #F0FAF0;
    --verde-s: #4A7A1E;
    --rosa: #E5297E;
    --rosa-light: #FDF0F8;
    --turquesa: #00AECC;
    --turquesa-light: #E8F8FC;
    --turquesa-s: #007A8F;
    --rojo: #E53935;
    --rojo-light: #FFF0F0;
    --negro: #1E1E1E;
    --sidebar-bg: #141414;
    --sidebar-w: 220px;
    --gris-bg: #F5F3EE;
    --gris-card: #FFFFFF;
    --gris-borde: #EAE7DF;
    --texto: #1E1E1E;
    --texto-2: #888580;
    --texto-3: #BBB8B0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background: var(--gris-bg);
    color: var(--texto);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}